<%= form_for(@invite) do |f| %>
  <% if @invite.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@invite.errors.count, "error") %> prohibited this invite from being saved:</h2>

      <ul>
      <% @invite.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="box">
    <div class="box-body">
        
     
<div class="form-row">
        <div class="form-group col-md-6">
            <%= f.label :name %><br>
            <%= f.text_field :name, class: "form-control", placeholder: "Viswanathan" %>
          </div>
          <div class="form-group col-md-6">
            <%= f.label :mobile %><br>
            <%= f.text_field :mobile, class: "form-control", placeholder: "0412 123 123" %>
          </div>
          </div>
          <div class="form-row">
          <div class="form-group col-md-6">
            <%= f.label :email %><br>
            <%= f.text_field :email, class: "form-control", placeholder: "xyz@gmail.com" %>
          </div>

          <div class="form-group col-md-6">
            <%= f.label :business_number %><br>
            <%= f.text_field :business_number, class: "form-control", placeholder: "0412 123 123" %></div>
          
        </div>
         

       
       <%= f.hidden_field :seller_id, value: Seller.where(:uid => current_user.id).first.id %>
         <%= f.submit 'Submit', :class => 'btn btn-fw success' %>
      </form>
    </div>
  </div>
  
<% end %>
