<!DOCTYPE html>
<html lang="en">
   <head>
      <title>Traders App</title>
      <meta charset="utf-8">
      <meta name="author" content="pixelhint.com">
      <meta name="description" content="Sublime Stunning free HTML5/CSS3 website template"/>
      
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta/css/bootstrap.min.css" type="text/css" />
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
      <link rel="stylesheet" type="text/css" href="css/unleashSlider.css">
      <link rel="stylesheet" type="text/css" href="css/style.css">

      <script type="text/javascript" src="js/jquery.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
      <script type="text/javascript" src="js/unleashSlider.js"></script>
      <style>
        .login-part h2 {
          font-size: 30px;
          font-family: 'Palanquin-Medium';
          padding: 0 15%;
          margin-bottom: 70px;
        }
        .login-part .input {
          padding: 0 15%;
          display: flex;
          flex-direction: column;
        }
        .login-part .form-group {
          text-align: left !important;
        }
        .login-part label {
          font-size: 12px;
          color: #aaa;
        }
        .login-part input.form-control {
          padding: .75rem;
        }
        .login-part .input input {
          padding: 10px 25px;
          margin-bottom: 30px;
        }
        .login-part .login {
          background-color: #0f76ff;
          color: #fff;
          padding: 13px 20px;
          width: 60%;
          margin-top: 50px;
          cursor: pointer;
        }
      </style>
   </head>
   <body>
      <section class="main">    
          <header>
              <nav>
                <ul>
                    <li class="logo"><%= image_tag("logo.png", size: "60x60", alt: "Product Image") %></td> </li>
                    <li><a class="active" href="">How it Works</a></li>
                    <li><a href="">Why buy & sell with us ?</a></li>
                    <li><a href="">Login</a></li>
                    <li><a href="">Sign Up</a></li>
                </ul>
              </nav>
            </header>
          <div class="main-content">
            <div class="find-content">
              <div class="login-part" style="display:block">
                <h2>Login to Buyer/Seller Dashboard</h2>
                  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                      <%= devise_error_messages! %>
                      <div id="content-body">
                        <div class="text-center w-100" style="padding-left:15%;">
                          <div class="w-xxl w-auto-xs">
                            <div class="text-left">
                            
                              <form name="form">
                                <div class="form-group">
                                  <label>EMAIL ID</label>
                                  <%= f.email_field :email, placeholder: "Email", class: "form-control", autofocus: true %>
                                  
                                </div>
                                <div class="form-group">
                                  <label>PASSWORD</label>
                                  <%= f.password_field :password, placeholder: "Password",class: "form-control", autocomplete: "off" %>
                                </div>
                              
                                
                                <%= f.submit "Log in",:class => 'btn primary login' %>
                              
                              </form>
                              
                                <% end %>
                              </div>
                              <div class="py-4 text-left">
                                <div>Dont have an account?  <%= render "users/shared/links" %></div>
                              
                              </div>
                            </div>
                    </div>
                  </div>
              </div>
           
          
            </div>
            <div class="slider-content">
                <ul class="slider">
                    
                  
                </ul>
            </div>
          </div>
      </section>
        
      <footer>
        <nav>
          <ul>
            <li><a class="active" href="#"><i class="fa fa-home" aria-hidden="true" style="font-size:33px!important"></i>Home</a></li>
              <li><a  href="#"><i class="fa fa-th" aria-hidden="true"></i>Buying & Selling Process</a></li>
              
              <li><a href="#"><i class="fa fa-briefcase" aria-hidden="true"></i>About us</a></li>
              <li><a href="#"><i class="fa fa-cog" aria-hidden="true" style="font-size:30px!important"></i>Testimonials</a></li>
              <li><a href="#"><i class="fa fa-envelope-open" aria-hidden="true"></i>FAQ'S</a></li>
              <li><a href="#"><i class="fa fa-users" aria-hidden="true"></i>Partners</a></li>
          </ul>
        </nav>
      </footer>
      <!--  End footer  -->
         </body>
</html>

   







