




<%= form_for(@seller) do |f| %>
  <% if @seller.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@seller.errors.count, "error") %> prohibited this seller from being saved:</h2>

      <ul>
      <% @seller.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="box">
    <div class="box-body">
    <br/>
    <div class="mb-3">
        <div class="mb-3 nav-active-success">
          <ul class="nav nav-pills" data-nav>
            <li class="nav-item active">
              <a class="nav-link" href="#">
                Business Information
              </a>
            </li>
              
            <li class="nav-item">
              <a class="nav-link"  href="#">Addresses</a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link">
                Business & Bank Information
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                Approval
              </a>
            </li>
          </ul>
        </div>

    <br/>
 
      <form>
        <div class="form-row">
          <div class="form-group col-md-6">
            <%= f.label :business_name %>
            <%= f.text_field :business_name, class: "form-control", placeholder: "ABC Pty Ltd" %>
            
          </div>
          <div class="form-group col-md-6">
            <%= f.label :seller_type,'User Type' %> <br/>
             <%= f.select :seller_type, ['Buyers','Wholesalers','Both'],{}, { :class => 'btn white dropdown-toggle' }%>
          </div>
        </div>
        
        <div class="form-row">
        <div class="form-group col-md-6">
          <%= f.label :code %><br>
   <%= f.text_field :code, class: "form-control", placeholder: "ABC112"  %>
        </div>
        <div class="form-group col-md-6">
          <%= f.label :status  %><br>
    <%= f.select :status, ['Active','On-Hold'],{}, { :class => 'btn white dropdown-toggle' }%>
        </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <%= f.label :account_type %> <br/>
         <%= f.select :account_type, ['Normal','Premium'],{}, { :class => 'btn white dropdown-toggle' }%>
          </div>

          <div class="form-group col-md-6">
            <%= f.label :business_legal_name %> <br/>
            <%= f.text_field :business_legal_name, class: "form-control", placeholder: "ABC Pty Ltd"  %>
          </div>
          
        </div>
         <div class="form-row">
          <div class="form-group col-md-6">
            <%= f.label :seller_email %>
            <%= f.text_field :seller_email, class: "form-control", placeholder: "abc@abc.com" %>
            
          </div>
           <div class="form-group col-md-6">
            <%= f.label :mobile,'Seller Mobile'%> <br/>
            <%= f.text_field :mobile, class: "form-control", placeholder:  "0412 123 123" %>
          </div>
          
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <%= f.label :owner, 'Owner Name' %> <br/>
          <%= f.text_field :owner, class: "form-control", placeholder: "John Smith"  %>
          </div>
<div class="form-group col-md-6">
            <%= f.label :owner_title %> <br/>
            <%= f.text_field :owner_title, class: "form-control", placeholder: "Mr/Ms" %>
          </div>
         
          
        </div>
          

         
         <div class="form-row">
          <div class="form-group col-md-6">
            <%= f.label :owner_mobile_no %>
            <%= f.text_field :owner_mobile_no, class: "form-control", placeholder:  "0412 123 123" %>
            
          </div>
          <div class="form-group col-md-6">
            <%= f.label :owner_email %>
            <%= f.text_field :owner_email, class: "form-control", placeholder: "abc@abc.com"  %>
          </div>
        </div>
       
        <div class="form-row">
          <div class="form-group col-md-6">
            <%= f.label :alternative_contact_name %>
            <%= f.text_field :alternative_contact_name, class: "form-control", placeholder: "Mr X" %>
            
          </div>
          <div class="form-group col-md-6">
            <%= f.label :alternative_mobile_number %>
            <%= f.text_field :alternative_mobile_number, class: "form-control", placeholder: "0412 123 123" %>
            
          </div>
        </div>
<div class="form-row">
          
<div class="form-group col-md-4">
            <%= f.label :office_phone %>
            <%= f.text_field :office_phone, class: "form-control", placeholder: "(02) 1234 1234" %>
          </div>
         
          <div class="form-group col-md-4">
            <%= f.label :fax  %>
            <%= f.text_field :fax , class: "form-control", placeholder: "0412 123 123"  %>
          </div>
           <div class="form-group col-md-4">
            <%= f.label :web  %>
            <%= f.text_field :web , class: "form-control", placeholder: "www.abc.com" %>
            
          </div>
        </div>

        <div class="form-row">
          
          
        </div>

         <div class="form-row">
          <%= f.hidden_field :in_network_of, value: Seller.where(:uid => current_user.id).first.id %>
           <%= f.hidden_field :in_chep_network_of, value: Seller.where(:uid => current_user.id).first.id %>
         
        </div>
         <%= f.submit 'Continue', :class => 'btn btn-fw success' %>
      </form>
    </div>
  </div>
  
  </div>
<% end %>
