<p id="notice"><%= notice %></p>

<p>
  <strong>Business name:</strong>
  <%= @seller.business_name %>
</p>

<p>
  <strong>Seller type:</strong>
  <%= @seller.seller_type %>
</p>

<p>
  <strong>Code:</strong>
  <%= @seller.code %>
</p>

<p>
  <strong>Status:</strong>
  <%= @seller.status %>
</p>

<p>
  <strong>Account type:</strong>
  <%= @seller.account_type %>
</p>

<p>
  <strong>Business legal name:</strong>
  <%= @seller.business_legal_name %>
</p>

<p>
  <strong>Owner:</strong>
  <%= @seller.owner %>
</p>

<p>
  <strong>Market location:</strong>
  <%= @seller.market_location %>
</p>

<p>
  <strong>Owner title:</strong>
  <%= @seller.owner_title %>
</p>

<p>
  <strong>Mobile:</strong>
  <%= @seller.mobile %>
</p>

<p>
  <strong>Seller email:</strong>
  <%= @seller.seller_email %>
</p>

<p>
  <strong>Office phone:</strong>
  <%= @seller.office_phone %>
</p>

<p>
  <strong>Owner mobile no:</strong>
  <%= @seller.owner_mobile_no %>
</p>

<p>
  <strong>Owner email:</strong>
  <%= @seller.owner_email %>
</p>

<p>
  <strong>Alternative contact name:</strong>
  <%= @seller.alternative_contact_name %>
</p>

<p>
  <strong>Alternative title:</strong>
  <%= @seller.alternative_title %>
</p>

<p>
  <strong>Alternative mobile number:</strong>
  <%= @seller.alternative_mobile_number %>
</p>

<p>
  <strong>Fax:</strong>
  <%= @seller.fax %>
</p>

<p>
  <strong>Web:</strong>
  <%= @seller.web %>
</p>

<p>
  <strong>Office address:</strong>
  <%= @seller.office_address %>
</p>

<p>
  <strong>Shipping address:</strong>
  <%= @seller.shipping_address %>
</p>

<p>
  <strong>Warehouse address:</strong>
  <%= @seller.warehouse_address %>
</p>

<p>
  <strong>Billing address:</strong>
  <%= @seller.billing_address %>
</p>

<p>
  <strong>Logo for customer area:</strong>
  <%= @seller.logo_for_customer_area %>
</p>

<p>
  <strong>Logo for invoices:</strong>
  <%= @seller.logo_for_invoices %>
</p>

<p>
  <strong>Approved by:</strong>
  <%= @seller.approved_by %>
</p>

<p>
  <strong>Member of smcs:</strong>
  <%= @seller.member_of_smcs %>
</p>

<p>
  <strong>Smcs no:</strong>
  <%= @seller.smcs_no %>
</p>

<p>
  <strong>Abn no:</strong>
  <%= @seller.abn_no %>
</p>

<p>
  <strong>Tax file no:</strong>
  <%= @seller.tax_file_no %>
</p>

<p>
  <strong>Other:</strong>
  <%= @seller.other %>
</p>

<p>
  <strong>Certificates:</strong>
  <%= @seller.certificates %>
</p>

<p>
  <strong>Bank account type:</strong>
  <%= @seller.bank_account_type %>
</p>

<p>
  <strong>Bank name:</strong>
  <%= @seller.bank_name %>
</p>

<p>
  <strong>Bank address:</strong>
  <%= @seller.bank_address %>
</p>

<p>
  <strong>Account name:</strong>
  <%= @seller.account_name %>
</p>

<p>
  <strong>Account number:</strong>
  <%= @seller.account_number %>
</p>

<p>
  <strong>Swift code:</strong>
  <%= @seller.swift_code %>
</p>

<p>
  <strong>Wire transfer code:</strong>
  <%= @seller.wire_transfer_code %>
</p>

<%= link_to 'Edit', edit_seller_path(@seller) %> |
<%= link_to 'Back', sellers_path %>
