<p id="notice"><%= notice %></p>

<p>
  <strong>Business name:</strong>
  <%= @customer.business_name %>
</p>

<p>
  <strong>Buyer type:</strong>
  <%= @customer.buyer_type %>
</p>

<p>
  <strong>Code:</strong>
  <%= @customer.code %>
</p>

<p>
  <strong>Status:</strong>
  <%= @customer.status %>
</p>

<p>
  <strong>Account type:</strong>
  <%= @customer.account_type %>
</p>

<p>
  <strong>Business legal name:</strong>
  <%= @customer.business_legal_name %>
</p>

<p>
  <strong>Owner:</strong>
  <%= @customer.owner %>
</p>

<p>
  <strong>Market location:</strong>
  <%= @customer.market_location %>
</p>

<p>
  <strong>Owner title:</strong>
  <%= @customer.owner_title %>
</p>

<p>
  <strong>Mobile:</strong>
  <%= @customer.mobile %>
</p>

<p>
  <strong>Buyer email:</strong>
  <%= @customer.buyer_email %>
</p>

<p>
  <strong>Office phone:</strong>
  <%= @customer.office_phone %>
</p>

<p>
  <strong>Owner mobile no:</strong>
  <%= @customer.owner_mobile_no %>
</p>

<p>
  <strong>Owner email:</strong>
  <%= @customer.owner_email %>
</p>

<p>
  <strong>Alternative contact name:</strong>
  <%= @customer.alternative_contact_name %>
</p>

<p>
  <strong>Alternative title:</strong>
  <%= @customer.alternative_title %>
</p>

<p>
  <strong>Alternative mobile number:</strong>
  <%= @customer.alternative_mobile_number %>
</p>

<p>
  <strong>Fax:</strong>
  <%= @customer.fax %>
</p>

<p>
  <strong>Web:</strong>
  <%= @customer.web %>
</p>

<p>
  <strong>Office address:</strong>
  <%= @customer.office_address %>
</p>

<p>
  <strong>Shipping address:</strong>
  <%= @customer.shipping_address %>
</p>

<p>
  <strong>Warehouse address:</strong>
  <%= @customer.warehouse_address %>
</p>

<p>
  <strong>Billing address:</strong>
  <%= @customer.billing_address %>
</p>

<p>
  <strong>Logo for customer area:</strong>
  <%= @customer.logo_for_customer_area %>
</p>

<p>
  <strong>Logo for invoices:</strong>
  <%= @customer.logo_for_invoices %>
</p>

<p>
  <strong>Approved by:</strong>
  <%= @customer.approved_by %>
</p>

<p>
  <strong>Member of smcs:</strong>
  <%= @customer.member_of_smcs %>
</p>

<p>
  <strong>Smcs no:</strong>
  <%= @customer.smcs_no %>
</p>

<p>
  <strong>Abn no:</strong>
  <%= @customer.abn_no %>
</p>

<p>
  <strong>Tax file no:</strong>
  <%= @customer.tax_file_no %>
</p>

<p>
  <strong>Other:</strong>
  <%= @customer.other %>
</p>

<p>
  <strong>Certificates:</strong>
  <%= @customer.certificates %>
</p>

<p>
  <strong>Bank account type:</strong>
  <%= @customer.bank_account_type %>
</p>

<p>
  <strong>Bank name:</strong>
  <%= @customer.bank_name %>
</p>

<p>
  <strong>Bank address:</strong>
  <%= @customer.bank_address %>
</p>

<p>
  <strong>Account name:</strong>
  <%= @customer.account_name %>
</p>

<p>
  <strong>Account number:</strong>
  <%= @customer.account_number %>
</p>

<p>
  <strong>Swift code:</strong>
  <%= @customer.swift_code %>
</p>

<p>
  <strong>Wire transfer code:</strong>
  <%= @customer.wire_transfer_code %>
</p>

<%= link_to 'Edit', edit_customer_path(@customer) %> |
<%= link_to 'Back', customers_path %>
