<%= form_for(@b2b_order) do |f| %>
  <% if @b2b_order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@b2b_order.errors.count, "error") %> prohibited this b2b_order from being saved:</h2>

      <ul>
      <% @b2b_order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="box">
    <div class="box-body">
       <br/>
    <div class="mb-3">
        <div class="mb-3 nav-active-success">
          <ul class="nav nav-pills" data-nav>
            <li class="nav-item active">
              <a class="nav-link" href="#">
                Order Info
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link"  href="#">Add Items</a>
            </li>
            
           
          </ul>
        </div>

    <br/>
      <form>
       <div class="box-header">
          <h3>Order Information</h3>
        
        </div>
        <div class="box-body">
        <div class="box-divider m-0"></div>
        <br/>
        <div class="form-row">
          <div class="form-group col-md-4">
            <%= f.label :poi_id %><br/>
              <%= f.collection_select :poi_id, Seller.all,:id,:business_name,{}, { :class => 'btn white dropdown-toggle' } %><br/>
              
            
          </div>
          <div class="form-group col-md-4">
            <%= f.label :payment_type %> <br/>
            <%= f.select :payment_type, ['Cash','Card','Seller Credit','Credit Co-OP'],{}, { :class => 'btn white dropdown-toggle' }%>
          </div>
           <div class="form-group col-md-4">
            <%= f.label :shipping_type %><br>
              <%= f.select :shipping_type, ['Market Drop-Off','Shipping','Pick up at Stand'],{}, { :class => 'btn white dropdown-toggle' }%>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-4">
           <%= f.label :drop_off_point%><br>
            <%= f.text_field :drop_off_point, class: "form-control", placeholder: "Shed 11"%>
            
          </div>
          <div class="form-group col-md-8">
             <%= f.label :different_shipping_location,'Shipping Location' %>
            <%= f.text_field :different_shipping_location, class: "form-control", placeholder: "John Smith Pty Ltd, 8904 Chesnut Avenue, Sydney NSW 2001"%>
          </div>
          
        </div>

       <br/>       <%= f.hidden_field :seller_id, value: Seller.where(:uid => current_user.id).first.id %>
       <%= f.hidden_field :o_status, value: 'Order Placed'%>
      
     
<%= f.hidden_field :otype, value: "B2B" %>
     
       
         <%= f.submit 'Submit', :class => 'btn btn-fw success' %>
      </form>
    </div>
  </div>



  
<% end %>


