<%= form_for(@ordered_item) do |f| %>
  <% if @ordered_item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ordered_item.errors.count, "error") %> prohibited this ordered_item from being saved:</h2>

      <ul>
      <% @ordered_item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="box">
    <div class="box-body">
        
     
<div class="form-row">
        <div class="form-group col-md-6">
         <%= f.label :offer_id,'Items'%><br>
            <%= f.collection_select :offer_id, Offer.where(:seller_id => Seller.where(:uid => current_user.id).first.id),:id,:desc,{}, { :class => 'btn white dropdown-toggle' } %>
            
          </div>
          <div class="form-group col-md-6">
           <%= f.label :quantity%><br>
            <%= f.text_field :quantity, class: "form-control", placeholder: "10" %>
          </div>
          </div>
          
         

       
       <%= f.hidden_field :seller_id, value: Seller.where(:uid => current_user.id).first.id %>
       <%= f.hidden_field :order_id, value: params[:order_id] %>
       
       <%= f.hidden_field :customer_id, value: params[:customer_id] %>
       
         <%= f.submit 'Submit', :class => 'btn btn-fw success' %>
      </form>
    </div>
  </div>
  
<% end %>
