<p id="notice"><%= notice %></p>

<h1>Listing Claim Wastages</h1>

<table>
  <thead>
    <tr>
      <th>Stock</th>
      <th>Employee</th>
      <th>Wasted stock value</th>
      <th>Waste checking labour cost</th>
      <th>Total waste claim</th>
      <th>Image</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @claim_wastages.each do |claim_wastage| %>
      <tr>
        <td><%= claim_wastage.stock %></td>
        <td><%= claim_wastage.employee %></td>
        <td><%= claim_wastage.wasted_stock_value %></td>
        <td><%= claim_wastage.waste_checking_labour_cost %></td>
        <td><%= claim_wastage.total_Waste_claim %></td>
        <td><%= claim_wastage.image %></td>
        <td><%= link_to 'Show', claim_wastage %></td>
        <td><%= link_to 'Edit', edit_claim_wastage_path(claim_wastage) %></td>
        <td><%= link_to 'Destroy', claim_wastage, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Claim wastage', new_claim_wastage_path %>
