<p id="notice"><%= notice %></p>

<p>
  <strong>Stock:</strong>
  <%= @claim_wastage.stock %>
</p>

<p>
  <strong>Employee:</strong>
  <%= @claim_wastage.employee %>
</p>

<p>
  <strong>Wasted stock value:</strong>
  <%= @claim_wastage.wasted_stock_value %>
</p>

<p>
  <strong>Waste checking labour cost:</strong>
  <%= @claim_wastage.waste_checking_labour_cost %>
</p>

<p>
  <strong>Total waste claim:</strong>
  <%= @claim_wastage.total_Waste_claim %>
</p>

<p>
  <strong>Image:</strong>
  <%= @claim_wastage.image %>
</p>

<%= link_to 'Edit', edit_claim_wastage_path(@claim_wastage) %> |
<%= link_to 'Back', claim_wastages_path %>
