
<%= form_for(@chep) do |f| %>
  

  <div class="box">
    <div class="box-body">
        
     
<div class="form-row">
        <div class="form-group col-md-6">
            <%= f.label :name %><br>
<%= f.collection_select :customer_id, Customer.all,:id,:business_name,{}, { :class => 'btn white dropdown-toggle' } %>
          </div>
          <div class="form-group col-md-6">
            <%= f.label :invoice_number %><br>
            <%= f.text_field :invoice_number, class: "form-control", placeholder: "52352" %>
          </div>
          </div>
          <div class="form-row">
          <div class="form-group col-md-6">
            <%= f.label :delivery_date %><br>
            <%= f.datetime_select :delivery_date ,{}, { :class => 'btn white dropdown-toggle' } %>
          </div>

          <div class="form-group col-md-6">
            <%= f.label :chep_issued  %><br>
            <%= f.text_field :chep_issued , class: "form-control", placeholder: "32" %></div>
          
        </div>
         <div class="form-row">
          <div class="form-group col-md-6">
            <%= f.label :chep_due %><br>
              <%= f.text_field :chep_due  , class: "form-control", placeholder: "11" %></div>
          </div>

          

       
       
         <%= f.submit 'Submit', :class => 'btn btn-fw success' %>
      </form>
    </div>
  </div>

<% end %>






