<!DOCTYPE html>
<html lang="en" class="no-js">
	<head>

	
		<link rel="stylesheet" type="text/css" href="css/base.css" />

		
	</head>

<div class="app" id="app">

<<!-- ############ LAYOUT START-->

  <!-- ############ Aside START-->
  <div id="aside" class="app-aside fade box-shadow-x nav-expand white" aria-hidden="true">
    <div class="sidenav modal-dialog dk">
      <!-- sidenav top -->
      <div class="navbar lt">
        <!-- brand -->
        <a href="../index.html" class="navbar-brand">
          <svg viewBox="0 0 24 24" height="28" width="28" xmlns="http://www.w3.org/2000/svg">
              <path d="M0 0h24v24H0z" fill="none"/>
              <path d="M19.51 3.08L3.08 19.51c.09.34.27.65.51.9.25.24.56.42.9.51L20.93 4.49c-.19-.69-.73-1.23-1.42-1.41zM11.88 3L3 11.88v2.83L14.71 3h-2.83zM5 3c-1.1 0-2 .9-2 2v2l4-4H5zm14 18c.55 0 1.05-.22 1.41-.59.37-.36.59-.86.59-1.41v-2l-4 4h2zm-9.71 0h2.83L21 12.12V9.29L9.29 21z" fill="#53a6fa" class="fill-theme"/>
          </svg>
         
          <span class="hidden-folded d-inline">Traders App</span>
        </a>
        <!-- / brand -->
      </div>
    
     <!-- Flex nav content -->
      <div class="flex hide-scroll">
          <div class="scroll">
            <div class="nav-border b-primary" data-nav>
              <ul class="nav bg">
                
                  <% if current_user.utype == "Seller" %>
                  <li>
                  <%= link_to dashboard_index_path  do %>
                   <span class="nav-icon">
  <i class="fa fa-dashboard"></i>
  </span>
  <span class="nav-text">Dashboard</span>
<% end %>
                  </li>
                  

                <% end %>

 <li>
                  <%= link_to marketplaces_path  do %>
                   <span class="nav-icon">
  <i class="fa fa-cart-plus"></i>
  </span>
  <span class="nav-text">Market Place</span>
<% end %>
                  </li>
         
                  
                  <% if current_user.utype == "Buyer" %>
                  <li>
                  <%= link_to purchases_path  do %>
                   <span class="nav-icon">
  <i class="fa fa-credit-card"></i>
  </span>
  <span class="nav-text">My Purchases</span>
<% end %>
              </li>   
<% end %>
<% if current_user.utype == "Seller" %>

<li>
                  <%= link_to offers_path  do %>
                   <span class="nav-icon">
  <i class="fa fa-leaf"></i>
  </span>
  <span class="nav-text">My Offers</span>
  </li>
<% end %>

                   
                  <% end %>
                  <% if current_user.utype == "Seller" %>

                  <li>
                  <%= link_to sales_path  do %>
                   <span class="nav-icon">
  <i class="fa fa-usd"></i>
  </span>
  <span class="nav-text">My Sales</span>
  </li>
<% end %>
                 
                  <% end %>
                  <% if current_user.utype == "Seller" %>

                   <li>
                  <%= link_to stocks_path  do %>
                   <span class="nav-icon">
  <i class="fa fa-cube"></i>
  </span>
  <span class="nav-text">My Stock</span>
  </li>
                 <% end %>
                  <% end %>
                  <% if current_user.utype == "Seller" %>


                   <li>
                  <%= link_to services_path  do %>
                   <span class="nav-icon">
  <i class="fa fa-truck"></i>
  </span>
  <span class="nav-text">My Services</span>
  </li>
                 <% end %>

                  
                  <% end %>

                  <li>
                  <%= link_to chats_path  do %>
                   <span class="nav-icon">
  <i class="fa fa-commenting-o"></i>
  </span>
  <span class="nav-text">My Chats</span>
  </li>
                 <% end %>

                  
                  <% if current_user.utype == "Seller" %>
                  <li>
                  <%= link_to networks_path  do %>
                   <span class="nav-icon">
  <i class="fa fa-users"></i>
  </span>
  <span class="nav-text">My Network</span>
  </li>
                 <% end %>

                 
                  <% end %>
                  <% if current_user.utype == "Seller" %>
                  <li>
                  <%= link_to reports_path  do %>
                   <span class="nav-icon">
  <i class="fa fa-line-chart"></i>
  </span>
  <span class="nav-text">My Reports</span>
  </li>
                 <% end %>
                  
                  <% end %>
<% if current_user.utype == "Seller" %>
 <li>
                  <%= link_to products_path  do %>
                   <span class="nav-icon">
  <i class="fa fa-snowflake-o"></i>
  </span>
  <span class="nav-text">My Products</span>
  </li>
                 <% end %>
                    
                  <% end %>
                  <li>
                  <% if current_user.utype == "Seller" %>
                  <% seller = Seller.where(:uid => current_user.id).first %> 
                  <%= link_to edit_seller_path(seller)  do %>
                   <span class="nav-icon">
  <i class="fa fa-cog"></i>
  </span>
  <span class="nav-text">My Profile</span>
  </li>
                 <% end %>
                 <% else %>
                  <% customer  = Customer.where(:uid => current_user.id).first %> 
                  <%= link_to edit_customer_path(customer)  do %>
                   <span class="nav-icon">
  <i class="fa fa-cog"></i>
  </span>
  <span class="nav-text">My Profile</span>
  </li>
                 <% end %>
                 <% end %>
                  <% if current_user.utype == "Seller" %>
 <li>
                  <%= link_to claim_wastages_path  do %>
                   <span class="nav-icon">
  <i class="fa fa-trash"></i>
  </span>
  <span class="nav-text">Claim Wastage</span>
  </li>
                 <% end %>
                    
                  <% end %>


<% if current_user.utype == "Seller" %>
 <li>
                  <%= link_to employees_path  do %>
                   <span class="nav-icon">
  <i class="fa fa-snowflake-o"></i>
  </span>
  <span class="nav-text">My Employees</span>
  </li>
                 <% end %>
                    
                  <% end %>
                  
              </ul>
            </div>
          </div>
      </div>
      
      
      <!-- sidenav bottom -->
      
    </div>
  </div>
  <!-- ############ Aside END-->

  <!-- ############ Content START-->
  <div id="content" class="app-content box-shadow-0" role="main">
    <!-- Header -->
      <div class="content-header white  box-shadow-0" id="content-header">
        <div class="navbar navbar-expand-lg">
          <!-- btn to toggle sidenav on small screen -->
          <a class="d-lg-none mx-2" data-toggle="modal" data-target="#aside">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 512 512"><path d="M80 304h352v16H80zM80 248h352v16H80zM80 192h352v16H80z"/></svg>
          </a>
          <!-- Page title -->
          <div class="navbar-text nav-title flex" id="pageTitle">Customers</div>
        
          <ul class="nav flex-row order-lg-2">
            <!-- Notification -->
            <li class="nav-item dropdown">
              <a class="nav-link px-3" data-toggle="dropdown">
                <i class="fa fa-bell text-muted"></i>
                <span class="badge badge-pill up danger">13</span>
              </a>
              <!-- dropdown -->
             
              <!-- / dropdown -->
            </li>
        
            <!-- User dropdown menu -->
         
            <!-- Navarbar toggle btn -->
            
          </ul>
          <!-- Navbar collapse -->
          <div class="collapse navbar-collapse no-grow order-lg-1" id="navbarToggler">
          <form class="input-group m-2 my-lg-0">
              <input type="text" class="form-control b-a no-bg no-shadow" placeholder="Search projects...">
              <span class="input-group-btn">
                <button type="button" class="btn white b-a no-bg no-shadow"><i class="fa fa-search"></i></button>
              </span>

              <% if user_signed_in? %>
  <li>
  <%= link_to('Logout', destroy_user_session_path, method: :delete) %>        
  </li>
<% else %>
  <li>
  <%= link_to('Login', new_user_session_path)  %>  
  </li>
<% end %>
          </form>
          </div>
        
        </div>
      </div>
      <!-- Main -->
    <div class="content-main " id="content-main">

<!-- ############ Main START-->


<div class="padding">
 
  

	<body class="loading">
		<svg class="hidden">
			<symbol id="icon-arrow" viewBox="0 0 24 24">
				<title>arrow</title>
				<polygon points="6.3,12.8 20.9,12.8 20.9,11.2 6.3,11.2 10.2,7.2 9,6 3.1,12 9,18 10.2,16.8 "/>
			</symbol>
			<symbol id="icon-drop" viewBox="0 0 24 24">
				<title>drop</title>
				<path d="M12,21c-3.6,0-6.6-3-6.6-6.6C5.4,11,10.8,4,11.4,3.2C11.6,3.1,11.8,3,12,3s0.4,0.1,0.6,0.3c0.6,0.8,6.1,7.8,6.1,11.2C18.6,18.1,15.6,21,12,21zM12,4.8c-1.8,2.4-5.2,7.4-5.2,9.6c0,2.9,2.3,5.2,5.2,5.2s5.2-2.3,5.2-5.2C17.2,12.2,13.8,7.3,12,4.8z"/><path d="M12,18.2c-0.4,0-0.7-0.3-0.7-0.7s0.3-0.7,0.7-0.7c1.3,0,2.4-1.1,2.4-2.4c0-0.4,0.3-0.7,0.7-0.7c0.4,0,0.7,0.3,0.7,0.7C15.8,16.5,14.1,18.2,12,18.2z"/>
			</symbol>
			<symbol id="icon-cross" viewBox="0 0 24 24">
				<title>cross</title>
				<path d="M 5.5,2.5 C 5.372,2.5 5.244,2.549 5.146,2.646 L 2.646,5.146 C 2.451,5.341 2.451,5.659 2.646,5.854 L 8.793,12 2.646,18.15 C 2.451,18.34 2.451,18.66 2.646,18.85 L 5.146,21.35 C 5.341,21.55 5.659,21.55 5.854,21.35 L 12,15.21 18.15,21.35 C 18.24,21.45 18.37,21.5 18.5,21.5 18.63,21.5 18.76,21.45 18.85,21.35 L 21.35,18.85 C 21.55,18.66 21.55,18.34 21.35,18.15 L 15.21,12 21.35,5.854 C 21.55,5.658 21.55,5.342 21.35,5.146 L 18.85,2.646 C 18.66,2.451 18.34,2.451 18.15,2.646 L 12,8.793 5.854,2.646 C 5.756,2.549 5.628,2.5 5.5,2.5 Z"/>
			</symbol>
			
			<!-- Magnifier by Gregor Cresnar https://www.flaticon.com/authors/gregor-cresnar -->
			<symbol id="icon-magnifier" viewBox="0 0 490.8 490.8">
				<title>magnifier</title>
				<path d="M364.8,299.55c46.3-75.8,36.9-176.3-28.6-241.9c-76.8-76.8-201.8-76.8-278.6,0s-76.8,201.8,0,278.5c65.5,65.5,166,74.9,241.9,28.6L412,477.25c18,18,47.3,18,65.3,0s18-47.3,0-65.3L364.8,299.55z M295.5,295.55c-54.4,54.4-142.8,54.4-197.1,0c-54.4-54.4-54.4-142.8,0-197.1c54.4-54.4,142.8-54.4,197.1,0C349.8,152.75,349.8,241.15,295.5,295.55z M220,171.95h59.4v45.3H220v59.4h-45.3v-59.4h-59.3v-45.3h59.4v-59.4h45.3v59.4H220z"/>
			</symbol>
		<main>
			
			<button class="dummy-menu"><svg class="icon icon--menu"><use xlink:href="#icon-menu"></use></svg></button>
			<div class="content">
				<div class="grid">
					<div class="grid__item">
						<div class="product">
							<div class="product__bg"></div>
							<img class="product__img" src="img/1.png" alt="img 01"/>
							<h2 class="product__title">Marble Dream</h2>
							<h3 class="product__subtitle">Constantin Frecker</h3>
							<p class="product__description">Hashtag cred air plant drinking vinegar. Leggings yuccie chambray pop-up tousled hell of. Portland wolf mumblecore, synth cold-pressed polaroid poke cardigan gochujang farm-to-table photo booth.</p>
							<div class="product__price">$129</div>
						</div>
					</div>
					<div class="grid__item">
						<div class="product">
							<div class="product__bg"></div>
							<img class="product__img" src="img/2.png" alt="img 02"/>
							<h2 class="product__title">Space Fantasy</h2>
							<h3 class="product__subtitle">Danica Green</h3>
							<p class="product__description">Man bun banjo pop-up meh hammock. Skateboard hammock tousled retro, etsy taiyaki narwhal gentrify fixie food truck microdosing sustainable dreamcatcher.</p>
							<div class="product__price">$199</div>
						</div>
					</div>
					<div class="grid__item">
						<div class="product">
							<div class="product__bg"></div>
							<img class="product__img" src="img/3.png" alt="img 03"/>
							<h2 class="product__title">Mighty Eighties</h2>
							<h3 class="product__subtitle">Elizabeth Smith</h3>
							<p class="product__description">Air plant affogato microdosing banjo, palo santo squid craft beer vexillologist chambray everyday carry cronut aesthetic intelligentsia. </p>
							<div class="product__price">$159</div>
						</div>
					</div>
					<div class="grid__item">
						<div class="product">
							<div class="product__bg"></div>
							<img class="product__img" src="img/4.png" alt="img 04"/>
							<h2 class="product__title">Diamond Crafter</h2>
							<h3 class="product__subtitle">Fred House</h3>
							<p class="product__description">Crucifix shoreditch tumblr heirloom irony tbh gastropub migas sartorial mustache direct trade plaid readymade ramps hammock.</p>
							<div class="product__price">$199</div>
						</div>
					</div>
					<div class="grid__item">
						<div class="product">
							<div class="product__bg"></div>
							<img class="product__img" src="img/5.png" alt="img 05"/>
							<h2 class="product__title">Disco Fever</h2>
							<h3 class="product__subtitle">Alice Muller</h3>
							<p class="product__description">Single-origin coffee air plant kitsch paleo iPhone vegan cold-pressed slow-carb cornhole dreamcatcher palo santo salvia lo-fi. </p>
							<div class="product__price">$99</div>
						</div>
					</div>
					<div class="grid__item">
						<div class="product">
							<div class="product__bg"></div>
							<img class="product__img" src="img/6.png" alt="img 06"/>
							<h2 class="product__title">Little Boxes</h2>
							<h3 class="product__subtitle">Xavier Brighton</h3>
							<p class="product__description">Drinking vinegar lumbersexual 90's flexitarian. Live-edge man bun air plant XOXO. Master cleanse vaporware keffiyeh.</p>
							<div class="product__price">$299</div>
						</div>
					</div>
					<div class="grid__item">
						<div class="product">
							<div class="product__bg"></div>
							<img class="product__img" src="img/7.png" alt="img 07"/>
							<h2 class="product__title">Fractal Love</h2>
							<h3 class="product__subtitle">Walter Perry</h3>
							<p class="product__description">Leggings green juice DIY, flannel tattooed selvage plaid yr sartorial chia. Scenester you probably haven't heard of them locavore.</p>
							<div class="product__price">$129</div>
						</div>
					</div>
					<div class="grid__item">
						<div class="product">
							<div class="product__bg"></div>
							<img class="product__img" src="img/8.png" alt="img 08"/>
							<h2 class="product__title">Liquidia</h2>
							<h3 class="product__subtitle">Lidia Greenwood</h3>
							<p class="product__description">Helvetica la croix readymade, butcher viral pitchfork chillwave pork belly vaporware blue bottle iceland semiotics subway tile irony.</p>
							<div class="product__price">$249</div>
						</div>
					</div>
					<div class="grid__item">
						<div class="product">
							<div class="product__bg"></div>
							<img class="product__img" src="img/9.png" alt="img 09"/>
							<h2 class="product__title">The Buzz</h2>
							<h3 class="product__subtitle">Sarah Grand</h3>
							<p class="product__description">Celiac distillery man braid venmo, selfies you probably haven't heard of them tote bag forage fanny pack activated charcoal kale chips lo-fi before they sold out.</p>
							<div class="product__price">$399</div>
						</div>
					</div>
					<div class="grid__item">
						<div class="product">
							<div class="product__bg"></div>
							<img class="product__img" src="img/10.png" alt="img 10"/>
							<h2 class="product__title">Sweet Escape</h2>
							<h3 class="product__subtitle">Peter Gradia</h3>
							<p class="product__description">Mumblecore bespoke blog raw denim, authentic VHS sustainable +1 freegan neutra small batch paleo. Schlitz chicharrones pork belly palo santo.</p>
							<div class="product__price">$199</div>
						</div>
					</div>
				</div>
			</div>
			
		</main>



<!-- ############ Main END-->

      </div>
      <!-- Footer -->
      <div class="content-footer white " id="content-footer">
        <div class="d-flex p-3">
          <span class="text-sm text-muted flex">&copy; Copyright. Flatfull</span>
          <div class="text-sm text-muted">Version 1.0.2</div>
        </div>
      </div>
  </div>
  <!-- ############ Content END-->

<!-- ############ LAYOUT END-->

</div>



		
		<script src="js/anime.min.js"></script>
		<script src="js/main1.js"></script>
	</body>
</html>
